@font-face {
  font-family: "Frankfurter";
  src: url("../fonts/FrankfurterPlain.woff2") format("woff2"), url("../fonts/FrankfurterPlain.woff") format("woff"), url("../fonts/FrankfurterPlain.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeueHeavy.woff2") format("woff2"), url("../fonts/HelveticaNeueHeavy.woff") format("woff"), url("../fonts/HelveticaNeueHeavy.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "AmericanTypewriter";
  src: url("../fonts/AmericanTypewriter.woff2") format("woff2"), url("../fonts/AmericanTypewriter.woff") format("woff"), url("../fonts/AmericanTypewriter.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "AmericanTypewriter";
  src: url("../fonts/AmericanTypewriter-Bold.woff2") format("woff2"), url("../fonts/AmericanTypewriter-Bold.woff") format("woff"), url("../fonts/AmericanTypewriter-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "AmericanTypewriter";
  src: url("../fonts/AmericanTypewriter-Light.woff2") format("woff2"), url("../fonts/AmericanTypewriter-Light.woff") format("woff"), url("../fonts/AmericanTypewriter-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

/* line 1, src/scss/_shared/_main-setting-reset.scss */
html,
body {
  width: 100%;
  min-height: 100vh;
}

/* line 6, src/scss/_shared/_main-setting-reset.scss */
html.is-hideScroll,
body.is-hideScroll {
  width: 100%;
  overflow: hidden !important;
}

/* line 14, src/scss/_shared/_main-setting-reset.scss */
html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 20, src/scss/_shared/_main-setting-reset.scss */
body {
  overflow-x: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #f0e5c7;
  line-height: 1.42857143;
  font-size: 14px;
  font-weight: normal;
  font-family: "AmericanTypewriter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 34, src/scss/_shared/_main-setting-reset.scss */
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

/* line 39, src/scss/_shared/_main-setting-reset.scss */
body > .body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

/* line 45, src/scss/_shared/_main-setting-reset.scss */
body > .body--start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/* line 52, src/scss/_shared/_main-setting-reset.scss */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 55, src/scss/_shared/_main-setting-reset.scss */
*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 62, src/scss/_shared/_main-setting-reset.scss */
button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  margin: 0;
}

/* line 72, src/scss/_shared/_main-setting-reset.scss */
button,
input {
  overflow: visible;
}

/* line 78, src/scss/_shared/_main-setting-reset.scss */
button[disabled] {
  opacity: 0.55;
  cursor: not-allowed;
}

/* line 84, src/scss/_shared/_main-setting-reset.scss */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/* line 90, src/scss/_shared/_main-setting-reset.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 96, src/scss/_shared/_main-setting-reset.scss */
textarea {
  overflow: auto;
}

/* line 101, src/scss/_shared/_main-setting-reset.scss */
p,
h1, h2, h3, h4, h5, h6,
hr {
  margin: 0;
  padding: 0;
}

/* line 109, src/scss/_shared/_main-setting-reset.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 114, src/scss/_shared/_main-setting-reset.scss */
ul li {
  list-style: none;
}

/* line 120, src/scss/_shared/_main-setting-reset.scss */
a {
  outline: none;
  text-decoration: none;
}

/* line 125, src/scss/_shared/_main-setting-reset.scss */
a:hover, a:focus {
  text-decoration: none;
}

/* line 132, src/scss/_shared/_main-setting-reset.scss */
input[type="text"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* line 136, src/scss/_shared/_main-setting-reset.scss */
picture {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 8, src/scss/_shared/_grid.scss */
.c-grid, .c-grid-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* line 20, src/scss/_shared/_grid.scss */
.c-grid {
  max-width: 1310px;
}

/* line 27, src/scss/_shared/_grid.scss */
.c-grid-fluid {
  max-width: 100%;
}

@media screen and (min-width: 576px) {
  /* line 35, src/scss/_shared/_grid.scss */
  .c-grid {
    max-width: 1310px;
  }
}

@media screen and (min-width: 992px) {
  /* line 35, src/scss/_shared/_grid.scss */
  .c-grid {
    max-width: 1310px;
  }
}

@media screen and (min-width: 1200px) {
  /* line 35, src/scss/_shared/_grid.scss */
  .c-grid {
    max-width: 1310px;
  }
}

@media screen and (min-width: 768px) {
  /* line 35, src/scss/_shared/_grid.scss */
  .c-grid {
    max-width: 1310px;
  }
}

@media screen and (min-width: 1366px) {
  /* line 35, src/scss/_shared/_grid.scss */
  .c-grid {
    max-width: 1310px;
  }
}

/* line 3, src/scss/_shared/_common.scss */
.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  /* line 3, src/scss/_shared/_common.scss */
  .logo {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (orientation: landscape) and (max-width: 812px) {
  /* line 3, src/scss/_shared/_common.scss */
  .logo {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* line 16, src/scss/_shared/_common.scss */
.logo__btn {
  width: 200px;
  height: 87px;
}

/* line 21, src/scss/_shared/_common.scss */
.logo__img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 28, src/scss/_shared/_common.scss */
.lang {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  /* line 28, src/scss/_shared/_common.scss */
  .lang {
    position: absolute;
    top: 25px;
    right: 15px;
  }
}

@media screen and (orientation: landscape) and (max-width: 812px) {
  /* line 28, src/scss/_shared/_common.scss */
  .lang {
    position: absolute;
    top: 25px;
    right: 15px;
  }
}

/* line 42, src/scss/_shared/_common.scss */
.lang__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-right: 5px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #dbd1b6;
  color: #ffffff;
  font-size: 14px;
  font-family: 'Frankfurter', sans-serif;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 57, src/scss/_shared/_common.scss */
.lang__btn:first-of-type {
  margin-left: 0;
}

/* line 60, src/scss/_shared/_common.scss */
.lang__btn:last-of-type {
  margin-right: 0;
}

/* line 64, src/scss/_shared/_common.scss */
.lang__btn:hover {
  background-color: rgba(65, 173, 74, 0.75);
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 69, src/scss/_shared/_common.scss */
.lang__btn.is-active {
  background-color: #41ad4a;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 76, src/scss/_shared/_common.scss */
.link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  /* line 76, src/scss/_shared/_common.scss */
  .link {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

@media screen and (orientation: landscape) and (max-width: 812px) {
  /* line 76, src/scss/_shared/_common.scss */
  .link {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

/* line 86, src/scss/_shared/_common.scss */
.link__btn {
  overflow: hidden;
  position: relative;
  color: #006023;
  font-size: 14px;
}

@media screen and (max-width: 1023px) {
  /* line 86, src/scss/_shared/_common.scss */
  .link__btn {
    font-size: 12px;
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  /* line 96, src/scss/_shared/_common.scss */
  .link__btn-1 {
    width: 100%;
  }
}

@media screen and (orientation: landscape) and (max-width: 812px) {
  /* line 96, src/scss/_shared/_common.scss */
  .link__btn-1 {
    width: 100%;
  }
}

/* line 106, src/scss/_shared/_common.scss */
.link__btn:hover:after {
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 112, src/scss/_shared/_common.scss */
.link__btn:after {
  content: '';
  position: absolute;
  top: 100%;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #006023;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 125, src/scss/_shared/_common.scss */
.link span {
  margin-left: 10px;
  margin-right: 10px;
  color: #006023;
}

/* line 132, src/scss/_shared/_common.scss */
.vers {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 135, src/scss/_shared/_common.scss */
.vers__name {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  color: #006023;
}

@media screen and (max-width: 1023px) {
  /* line 135, src/scss/_shared/_common.scss */
  .vers__name {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  /* line 135, src/scss/_shared/_common.scss */
  .vers__name {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    font-size: 12px;
    text-align: right;
  }
}

@media screen and (orientation: landscape) and (max-width: 812px) {
  /* line 135, src/scss/_shared/_common.scss */
  .vers__name {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    font-size: 12px;
    text-align: right;
  }
}

/* line 156, src/scss/_shared/_common.scss */
.vers__name span {
  font-weight: bold;
}

/* line 160, src/scss/_shared/_common.scss */
.vers__name a {
  overflow: hidden;
  position: relative;
  margin-left: 5px;
  color: #006023;
}

/* line 167, src/scss/_shared/_common.scss */
.vers__name a:hover:after {
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 173, src/scss/_shared/_common.scss */
.vers__name a:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transform: translateY(-4px);
      -ms-transform: translateY(-4px);
          transform: translateY(-4px);
  width: 100%;
  height: 1px;
  background-color: #006023;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 188, src/scss/_shared/_common.scss */
.cookie {
  z-index: 1000;
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 130px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: rgba(35, 95, 37, 0.9);
}

/* line 210, src/scss/_shared/_common.scss */
.cookie__left {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
  padding-right: 15px;
}

/* line 220, src/scss/_shared/_common.scss */
.cookie__right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  max-width: 165px;
}

/* line 230, src/scss/_shared/_common.scss */
.cookie p {
  width: 100%;
  max-width: 890px;
  padding-right: 15px;
  color: #ffffff;
  font-size: 18px;
}

/* line 245, src/scss/_shared/_common.scss */
.cookie a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 165px;
  height: 53px;
  -webkit-border-radius: 27px;
          border-radius: 27px;
  border: 2px solid #fff;
  background-color: #ffffff;
  color: #235f25;
  font-size: 26px;
  text-transform: uppercase;
  font-family: 'Frankfurter', sans-serif;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* line 265, src/scss/_shared/_common.scss */
.cookie a:hover {
  background-color: transparent;
  color: #ffffff;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* line 3, src/scss/_components/_home.scss */
.home {
  overflow: hidden;
  position: relative;
  height: 100vh;
  max-height: 100vh;
}

@media screen and (max-width: 767px) and (max-height: 699px) {
  /* line 3, src/scss/_components/_home.scss */
  .home {
    overflow-y: auto;
  }
}

@media screen and (max-width: 639px) {
  /* line 3, src/scss/_components/_home.scss */
  .home {
    overflow-y: auto;
  }
}

@media screen and (orientation: landscape) and (max-width: 812px) {
  /* line 3, src/scss/_components/_home.scss */
  .home {
    overflow-y: auto;
  }
}

/* line 18, src/scss/_components/_home.scss */
.home__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

/* line 24, src/scss/_components/_home.scss */
.home__header, .home__footer {
  z-index: 10;
  position: fixed;
  left: 0;
  width: 100%;
}

@media screen and (max-width: 639px) {
  /* line 24, src/scss/_components/_home.scss */
  .home__header, .home__footer {
    position: relative;
  }
}

@media screen and (orientation: landscape) and (max-width: 812px) {
  /* line 24, src/scss/_components/_home.scss */
  .home__header, .home__footer {
    position: relative;
  }
}

/* line 37, src/scss/_components/_home.scss */
.home__header-wrapper, .home__footer-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 44, src/scss/_components/_home.scss */
.home__header {
  top: 0;
  padding-top: 40px;
}

@media screen and (max-width: 767px) {
  /* line 44, src/scss/_components/_home.scss */
  .home__header {
    padding-top: 0;
  }
}

@media screen and (orientation: landscape) and (max-width: 812px) {
  /* line 44, src/scss/_components/_home.scss */
  .home__header {
    padding-top: 0;
  }
}

/* line 55, src/scss/_components/_home.scss */
.home__footer {
  bottom: 0;
  padding-bottom: 55px;
}

@media screen and (max-width: 767px) {
  /* line 55, src/scss/_components/_home.scss */
  .home__footer {
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 639px) {
  /* line 55, src/scss/_components/_home.scss */
  .home__footer {
    display: none;
  }
}

@media screen and (orientation: landscape) and (max-width: 812px) {
  /* line 55, src/scss/_components/_home.scss */
  .home__footer {
    display: none;
    padding-bottom: 25px;
  }
}

/* line 70, src/scss/_components/_home.scss */
.home__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 630px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  /* line 70, src/scss/_components/_home.scss */
  .home__content {
    max-width: 510px;
    -webkit-transform: translateY(187px);
        -ms-transform: translateY(187px);
            transform: translateY(187px);
    height: -webkit-calc(100vh - 187px);
    height: calc(100vh - 187px);
  }
}

@media screen and (max-width: 639px) {
  /* line 70, src/scss/_components/_home.scss */
  .home__content {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    max-width: 100%;
    height: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (orientation: landscape) and (max-width: 812px) {
  /* line 70, src/scss/_components/_home.scss */
  .home__content {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    max-width: 100%;
    height: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* line 99, src/scss/_components/_home.scss */
.home__content-top, .home__content-bottom {
  position: relative;
  height: -webkit-calc((100vh - 350px) / 2);
  height: calc((100vh - 350px) / 2);
  text-align: center;
}

@media screen and (max-width: 767px) and (max-height: 699px) {
  /* line 99, src/scss/_components/_home.scss */
  .home__content-top, .home__content-bottom {
    height: auto;
  }
}

/* line 108, src/scss/_components/_home.scss */
.home__content-top img, .home__content-bottom img {
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

@media screen and (max-width: 767px) and (max-height: 699px) {
  /* line 108, src/scss/_components/_home.scss */
  .home__content-top img, .home__content-bottom img {
    position: relative;
  }
}

@media screen and (max-width: 639px) {
  /* line 108, src/scss/_components/_home.scss */
  .home__content-top img, .home__content-bottom img {
    position: relative;
  }
}

@media screen and (orientation: landscape) and (max-width: 812px) {
  /* line 108, src/scss/_components/_home.scss */
  .home__content-top img, .home__content-bottom img {
    position: relative;
  }
}

/* line 126, src/scss/_components/_home.scss */
.home__content-top {
  max-height: 390px;
  padding-bottom: 30px;
}

@media screen and (max-width: 767px) {
  /* line 126, src/scss/_components/_home.scss */
  .home__content-top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 80px;
    max-height: unset;
    padding-bottom: 0;
  }
}

@media screen and (orientation: landscape) and (max-width: 812px) {
  /* line 126, src/scss/_components/_home.scss */
  .home__content-top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 80px;
    max-height: unset;
    padding-bottom: 0;
  }
}

/* line 146, src/scss/_components/_home.scss */
.home__content-top img {
  bottom: 0;
}

@media screen and (max-width: 767px) {
  /* line 146, src/scss/_components/_home.scss */
  .home__content-top img {
    display: none;
  }
}

@media screen and (orientation: landscape) and (max-width: 812px) {
  /* line 146, src/scss/_components/_home.scss */
  .home__content-top img {
    display: none;
  }
}

/* line 157, src/scss/_components/_home.scss */
.home__content-middle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 350px;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (max-width: 639px) {
  /* line 157, src/scss/_components/_home.scss */
  .home__content-middle {
    height: auto;
  }
}

@media screen and (orientation: landscape) and (max-width: 812px) {
  /* line 157, src/scss/_components/_home.scss */
  .home__content-middle {
    height: auto;
  }
}

/* line 171, src/scss/_components/_home.scss */
.home__content-bottom {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
  max-height: 313px;
}

@media screen and (max-width: 767px) {
  /* line 171, src/scss/_components/_home.scss */
  .home__content-bottom {
    height: -webkit-calc(100% - (350px + 80px));
    height: calc(100% - (350px + 80px));
  }
}

@media screen and (max-width: 639px) {
  /* line 171, src/scss/_components/_home.scss */
  .home__content-bottom {
    height: auto;
  }
}

@media screen and (orientation: landscape) and (max-width: 812px) {
  /* line 171, src/scss/_components/_home.scss */
  .home__content-bottom {
    height: -webkit-calc(100% - (350px + 80px));
    height: calc(100% - (350px + 80px));
  }
}

/* line 188, src/scss/_components/_home.scss */
.home__content-bottom--offsetImg {
  max-height: 509px;
}

/* line 191, src/scss/_components/_home.scss */
.home__content-bottom--offsetImg img {
  -webkit-transform: translateX(40px);
      -ms-transform: translateX(40px);
          transform: translateX(40px);
}

/* line 196, src/scss/_components/_home.scss */
.home__content-bottom img {
  top: 0;
}

/* line 200, src/scss/_components/_home.scss */
.home__content-bottom > div {
  display: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 100%;
}

@media screen and (max-width: 639px) {
  /* line 200, src/scss/_components/_home.scss */
  .home__content-bottom > div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (orientation: landscape) and (max-width: 812px) {
  /* line 200, src/scss/_components/_home.scss */
  .home__content-bottom > div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

/* line 218, src/scss/_components/_home.scss */
.home__badge, .home__title, .home__timer, .home__btn {
  text-align: center;
  font-family: 'Frankfurter', sans-serif;
}

/* line 226, src/scss/_components/_home.scss */
.home__badge {
  color: #235f25;
  text-transform: uppercase;
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  /* line 226, src/scss/_components/_home.scss */
  .home__badge {
    font-size: -webkit-calc(16px + 4 * (100vw - 320px) / 1046);
    font-size: calc(16px + 4 * (100vw - 320px) / 1046);
  }
}

@media screen and (min-width: 1366px) {
  /* line 226, src/scss/_components/_home.scss */
  .home__badge {
    font-size: 20px;
  }
}

/* line 232, src/scss/_components/_home.scss */
.home__title {
  padding-bottom: 15px;
  color: #235f25;
  line-height: 1.2;
  text-transform: uppercase;
  font-size: 33px;
}

@media screen and (min-width: 320px) {
  /* line 232, src/scss/_components/_home.scss */
  .home__title {
    font-size: -webkit-calc(33px + 7 * (100vw - 320px) / 1046);
    font-size: calc(33px + 7 * (100vw - 320px) / 1046);
  }
}

@media screen and (min-width: 1366px) {
  /* line 232, src/scss/_components/_home.scss */
  .home__title {
    font-size: 40px;
  }
}

/* line 240, src/scss/_components/_home.scss */
.home__desc {
  padding-bottom: 30px;
  text-align: center;
  color: #282828;
  font-size: 18px;
}

/* line 247, src/scss/_components/_home.scss */
.home__timer {
  padding-top: 70px;
  padding-bottom: 70px;
  color: #006023;
  font-size: 20px;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  /* line 247, src/scss/_components/_home.scss */
  .home__timer {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media screen and (orientation: landscape) and (max-width: 812px) {
  /* line 247, src/scss/_components/_home.scss */
  .home__timer {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

/* line 263, src/scss/_components/_home.scss */
.home__btn {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 260px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  -webkit-border-radius: 28px;
          border-radius: 28px;
  background-color: #41ad4a;
  color: #ffffff;
  font-size: 20px;
  text-transform: uppercase;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

@media screen and (max-width: 639px) {
  /* line 263, src/scss/_components/_home.scss */
  .home__btn {
    font-size: 18px;
  }
}

/* line 283, src/scss/_components/_home.scss */
.home__btn:hover {
  background-color: #235f25;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 288, src/scss/_components/_home.scss */
.home__btn-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*# sourceMappingURL=maps/app.css.map */
