// SECTION home :: START

.home {
	position: relative;

	&__header,
	&__footer {
		position: fixed;
		left: 0;
		width: 100%;

		&-wrapper {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}

	&__header {
		top: 40px;
		@include adaptive(767) {
			position: static;
		}
	}

	&__footer {
		bottom: 54px;
		@include adaptive(767) {
			bottom: 25px;
		}
		@media screen and (orientation: landscape) and (max-width: 991px) {
			bottom: 25px;
		}
		@include adaptive(639) {
			//position: relative;
			//bottom: 0;
			//padding-top: 30px;
			//padding-bottom: 30px;
		}
		@media screen and (max-width: 767px) and (orientation: landscape) {
			//position: relative;
			//bottom: 0;
			//padding-top: 30px;
			//padding-bottom: 30px;
		}
	}

	&__content {
		overflow: hidden;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100vh;
		max-height: 100vh;
		width: 100%;
		max-width: 630px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 15px;
		padding-right: 15px;
		@include adaptive(767) {
			overflow: unset;
			height: calc(100vh - 187px);
			max-height: unset;
			max-width: 510px;
		}
		@media screen and (orientation: landscape) and (max-width: 991px) {
			overflow: unset;
		}
		@include adaptive(639) {
			height: auto;
			max-height: unset;
		}
		@media screen and (max-width: 767px) and (orientation: landscape) {
			height: auto;
			max-height: unset;
		}

		&--ncenter {

			.home__content {
				&-top,
				&-bottom {
					height: auto;
				}

				&-middle {
					height: 300px;
					@include adaptive(639) {
						height: auto;
					}
					@media screen and (max-width: 767px) and (orientation: landscape) {
						height: auto;
					}
				}

				&-top {
					min-height: 200px;
					@include adaptive(767) {
						height: 80px;
						min-height: unset;
					}
				}

				&-bottom {
					padding-top: 50px;

					img {
						position: relative;
						left: 40px;
						@include adaptive(767) {
							left: 20px;
						}
					}
				}
			}
		}

		&-top,
		&-bottom {
			height: 100%;
			max-height: calc((100vh - 350px) / 2);
			@include adaptive(767) {
				height: auto;
				max-height: unset;
			}

			img {
				display: block;
				max-width: 100%;
				max-height: 100%;
				margin-left: auto;
				margin-right: auto;
			}
		}

		&-top {
			@include adaptive(767) {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 80px;
			}

			img {
				@include adaptive(767) {
					display: none;
				}
			}
		}

		&-bottom {
			position: relative;
			@include adaptive(767) {
				height: calc(100% - (80px + 350px));
			}
			@include adaptive(639) {
				height: auto;
				padding-top: 50px;
			}
			@media screen and (max-width: 767px) and (orientation: landscape) {
				height: auto;
				padding-top: 50px;
			}

			img {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				@include adaptive(767) {
					max-width: 247px;
				}
				@include adaptive(639) {
					position: relative;
				}
				@media screen and (max-width: 767px) and (orientation: landscape) {
					position: relative;
				}
			}
		}

		&-middle {
			height: 350px;
			@include adaptive(639) {
				height: auto;
			}
			@media screen and (max-width: 767px) and (orientation: landscape) {
				height: auto;
			}
		}
	}

	&__badge,
	&__title,
	&__timer,
	&__btn {
		text-align: center;
		font-family: 'Frankfurter', sans-serif;
	}

	&__badge {
		color: #235f25;
		text-transform: uppercase;
		@include fluid(font-size, 320px, 1366px, 16px, 20px);
	}

	&__title {
		padding-bottom: 15px;
		color: #235f25;
		line-height: 1.2;
		text-transform: uppercase;
		@include fluid(font-size, 320px, 1366px, 33px, 40px);
	}

	&__desc {
		padding-bottom: 30px;
		text-align: center;
		color: #282828;
		font-size: 18px;
	}

	&__timer {
		padding-top: 70px;
		padding-bottom: 70px;
		color: #006023;
		font-size: 20px;
		text-transform: uppercase;
		@include adaptive(767) {
			padding-top: 15px;
			padding-bottom: 15px;
		}
	}

	&__btn {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		min-width: 260px;
		height: 50px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 30px;
		padding-right: 30px;
		border-radius: 28px;
		background-color: #41ad4a;
		color: #ffffff;
		font-size: 20px;
		text-transform: uppercase;
		@include transition(background-color);
		@include adaptive(767) {
			font-size: 18px;
		}
		@include adaptive(575) {
			font-size: 16px;
		}

		&:hover {
			background-color: #235f25;
			@include transition(background-color);
		}

		&-wrapper {
			display: flex;
			justify-content: center;
		}
	}
}

// SECTION home :: END
