// SECTION home :: START

.body {
	&--home {
		.home {
			&__content {
				&--congrats,
				&--thanks,
				&--end {
					display: none;
				}
			}
		}
	}
	&--congrats,
	&--thanks,
	&--end {
		.home {
			&__content {
				&-bottom {
					max-height: 509px;

					img {
						left: 40px;
					}
				}
			}
		}
	}
	&--congrats {
		.home {
			&__content {
				&--home,
				&--thanks,
				&--end {
					display: none;
				}
			}
		}
	}
	&--thanks {
		.home {
			&__content {
				&--home,
				&--congrats,
				&--end {
					display: none;
				}
			}
		}
	}
	&--end {
		.home {
			&__content {
				&--home,
				&--congrats,
				&--thanks {
					display: none;
				}
			}
		}
	}
}

.home {
	overflow: hidden;
	position: relative;
	height: 100vh;
	max-height: 100vh;
	//@media screen and (max-width: 767px) and (max-height: 699px) {
	//	overflow: unset;
	//}
	//@media screen and (max-width: 639px) {
	//	overflow: unset;
	//}
	//@media screen and (orientation: landscape) and (max-width: 812px) and (max-height: 414px) {
	//	overflow: unset;
	//}

	&__wrapper {
		display: flex;
		flex-direction: column;
		min-height: 100%;
	}

	&__header,
	&__footer {
		z-index: 10;
		position: fixed;
		left: 0;
		width: 100%;
		//@media screen and (max-width: 639px) {
		//	position: relative;
		//}
		//@media screen and (orientation: landscape) and (max-width: 812px) and (max-height: 414px) {
		//	position: relative;
		//}

		&-wrapper {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}

	&__header {
		top: 0;
		//padding-top: 40px;
		@include respond(medium) {
			@include fluidDepHeight(padding-top, 290px, 812px, 15px, 40px);
		}
		//@include adaptive(767) {
		//	padding-top: 0;
		//}
		//@media screen and (orientation: landscape) and (max-width: 812px) and (max-height: 414px) {
		//	padding-top: 0;
		//}
	}

	&__footer {
		bottom: 0;
		//padding-bottom: 55px;
		@include respond(medium) {
			@include fluidDepHeight(padding-bottom, 290px, 768px, 15px, 55px);
		}
		//@include adaptive(767) {
		//	padding-bottom: 25px;
		//}
		//@media screen and (max-width: 639px) {
		//	padding-top: 15px;
		//	padding-bottom: 15px;
		//	background-color: #235f25;
		//}
		//@media screen and (orientation: landscape) and (max-width: 812px) and (max-height: 414px) {
		//	padding-top: 15px;
		//	padding-bottom: 15px;
		//	background-color: #235f25;
		//}
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
		max-width: 630px;
		height: 100vh;
		margin-left: auto;
		margin-right: auto;
		//@include adaptive(767) {
		//	max-width: 510px;
		//	transform: translateY(187px);
		//	height: calc(100vh - 187px);
		//}
		//@media screen and (max-width: 639px) {
		//	overflow: hidden;
		//	transform: translateY(0);
		//	max-width: 510px;
		//	height: auto;
		//	padding-left: 15px;
		//	padding-right: 15px;
		//}
		//@media screen and (orientation: landscape) and (max-width: 812px) and (max-height: 414px) {
		//	overflow: hidden;
		//	transform: translateY(0);
		//	max-width: 510px;
		//	height: auto;
		//	padding-left: 15px;
		//	padding-right: 15px;
		//}

		&-top,
		&-bottom {
			position: relative;
			height: calc((100vh - 350px) / 2);
			text-align: center;
			//@media screen and (max-width: 767px) and (max-height: 699px) {
			//	height: auto;
			//}

			img {
				z-index: -1;
				position: absolute;
				left: 0;
				right: 0;
				margin: 0 auto;
				//@media screen and (max-width: 767px) and (max-height: 699px) {
				//	position: relative;
				//}
				//@media screen and (max-width: 639px) {
				//	position: relative;
				//}
				//@media screen and (orientation: landscape) and (max-width: 812px) and (max-height: 414px) {
				//	position: relative;
				//}
			}
		}

		&-top {
			max-height: 390px;
			//padding-bottom: 30px;
			//@include adaptive(767) {
			//	display: flex;
			//	align-items: center;
			//	justify-content: center;
			//	height: 80px;
			//	max-height: unset;
			//	padding-bottom: 0;
			//}
			//@media screen and (orientation: landscape) and (max-width: 812px) and (max-height: 414px) {
			//	display: flex;
			//	align-items: center;
			//	justify-content: center;
			//	height: 80px;
			//	max-height: unset;
			//	padding-bottom: 0;
			//}

			img {
				bottom: 0;
				//@include adaptive(767) {
				//	display: none;
				//}
				//@media screen and (orientation: landscape) and (max-width: 812px) and (max-height: 414px) {
				//	display: none;
				//}
			}
		}

		&-middle {
			display: flex;
			align-items: center;
			//height: 350px;
			padding-top: 30px;
			padding-bottom: 30px;
			//@media screen and (max-width: 639px) {
			//	height: auto;
			//}
			//@media screen and (orientation: landscape) and (max-width: 812px) and (max-height: 414px) {
			//	height: auto;
			//}
		}

		&-bottom {
			position: relative;
			display: flex;
			align-items: flex-end;
			justify-content: center;
			//padding-top: 30px;
			max-height: 313px;
			//@include adaptive(767) {
			//	height: calc(100% - (350px + 80px));
			//}
			//@media screen and (max-width: 639px) {
			//	height: auto;
			//}
			//@media screen and (max-width: 767px) and (max-height: 720px){
			//	height: auto;
			//	max-height: unset;
			//}
			//@media screen and (orientation: landscape) and (max-width: 812px) and (max-height: 414px) {
			//	height: calc(100% - (350px + 80px));
			//}

			&--offsetImg {
				max-height: 509px;

				img {
					left: 40px;
				}
			}

			img {
				top: 0;
				//@include adaptive(575) {
				//	display: block;
				//	max-width: 100%;
				//	height: auto;
				//}
			}
		}
	}

	&__badge,
	&__title,
	&__timer,
	&__btn {
		text-align: center;
		font-family: 'Frankfurter', sans-serif;
	}

	&__badge {
		color: #235f25;
		text-transform: uppercase;
		font-size: 20px;
		@include respond(medium) {
			@include fluidDepHeight(font-size, 290px, 812px, 12px, 20px);
		}
		//@include fluid(font-size, 320px, 1366px, 16px, 20px);
	}

	&__title {
		padding-bottom: 15px;
		color: #235f25;
		line-height: 1.2;
		text-transform: uppercase;
		font-size: 40px;
		@include respond(medium) {
			@include fluidDepHeight(font-size, 290px, 812px, 20px, 40px);
		}
		//@include fluid(font-size, 320px, 1366px, 33px, 40px);
	}

	&__desc {
		padding-bottom: 30px;
		text-align: center;
		color: #282828;
		font-size: 18px;
		@include respond(medium) {
			@include fluidDepHeight(font-size, 290px, 812px, 14px, 18px);
		}
	}

	&__timer {
		padding-top: 70px;
		padding-bottom: 70px;
		color: #006023;
		font-size: 20px;
		text-transform: uppercase;
		@include respond(medium) {
			@include fluidDepHeight(padding-top padding-bottom, 290px, 812px, 30px, 70px);
			@include fluidDepHeight(font-size, 290px, 812px, 14px, 20px);
		}
		//@include adaptive(767) {
		//	padding-top: 15px;
		//	padding-bottom: 15px;
		//}
		//@media screen and (orientation: landscape) and (max-width: 812px) and (max-height: 414px) {
		//	padding-top: 15px;
		//	padding-bottom: 15px;
		//}
	}

	&__btn {
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: 260px;
		height: 50px;
		//margin-left: auto;
		//margin-right: auto;
		padding-left: 30px;
		padding-right: 30px;
		border-radius: 28px;
		background-color: #41ad4a;
		color: #ffffff;
		font-size: 20px;
		text-transform: uppercase;
		@include transition(background-color);
		@include respond(medium) {
			@include fluidDepHeight(min-width, 290px, 812px, 200px, 260px);
			@include fluidDepHeight(height, 290px, 812px, 35px, 50px);
			@include fluidDepHeight(font-size, 290px, 812px, 14px, 20px);
		}
		//@include adaptive(639) {
		//	font-size: 18px;
		//}

		&:hover {
			background-color: #235f25;
			@include transition(background-color);
			//@include adaptive(767) {
			//	background-color: #41ad4a;
			//}
		}

		&:active {
			//@include adaptive(767) {
			//	background-color: #235f25;
			//	@include transition(background-color);
			//}
		}

		&-wrapper {
			display: flex;
			justify-content: center;
		}
	}
}

// SECTION home :: END
